html, .app {
  line-height: 1.5;
  background: #141414;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.app {
  margin-top: 7%;
}

.navbar-container {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background: #000;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #141414;
}

.navbar-logo {
  width: 170%;
  height: 100%;
  transform: scale(0.36);
  
}

.navbar-logo-container {
  cursor: pointer;
  flex: 2;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-menu-option-container {
  cursor: pointer;
  flex: 5;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-menu-option-container span {
  padding: 5px 15px 30px 5px;
  font-size: 22px;
  font-weight: bold;
  height: 100%;
  border-bottom: 7px solid transparent;
}

.navbar-menu-option {
  margin: 0 10px 0 10px;
  height: 100%;
}

.navbar-menu-option span {
  cursor: pointer;
}

.navbar-input-space {
  flex: 3;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.navbar-input-container {
  display: flex;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  border: 2px solid transparent;
}

.navbar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 8px 5px 8px;
}

.navbar-input i {
  font-size: 28px;
}

.navbar-input input {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 15px;
  width: 100%;
  font-size: 22px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.navbar-input input:focus {
  outline: 0;
}

.navbar-input-reset-query i {
  font-size: 36px;
  margin-left: 30px;
}

.navbar-avatar-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.navbar-avatar {
  min-width: 60px;
  height: 60px;
  background-color: #fff;
  background-image: url('./icons/empty_avatar.jpg');
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.navbar-avatar input {
  cursor: pointer;
}

.movie-card {
  width: 100%;
  height: 250px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.15s;
}
.movie-card-MesFormation {
  width: 100%;
  height: 340px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.15s;
}

.movie-card:hover {
  transform: scale(1.06);
}

.movie-card-container {
  flex: 1;
  display: flex;
  margin: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.movie-card-container:hover {
  opacity: 1;
}

.movie-card-text {
  font-weight: bold;
  text-shadow: 2px 2px #000;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.movie-card-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-card-info div {
  margin-right: 10px;
}

.movie-card-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
}

.movie-card-title {
  font-size: 150%;
}

.movie-card-year {
  font-size: 90%;
}

.movie-card-rating {
  font-size: 90%;
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;
  padding: 0 5px 0 5px;
}

.movie-card-description {
  font-size: 80%;
}

.movie-list-container {
  margin: 0px 20px 20px 20px;
}

.movie-list-container h1{
  margin: 0;
}

.movie-list-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-list-grid li {
  padding: 10px 15px;
  text-align: left;
  width: 30%;
}

.jumbotron-container {
  width: 100%;
  height: 550px;
  background-size: cover;
}

.jumbotron-info-container {
  background-color: #000;
  width: 30%;
  height: 100%;
  box-shadow: 20px 0 190px 100px #000;
}

.jumbotron-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 5% 8%;
}

.jumbotron-sub-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.jumbotron-sub-info div {
  margin: 0 5px 0 5px;
}

.jumbotron-title {
  font-size: 2em;
}

.jumbotron-description {
  font-size: 1em;
}

.jumbotron-rating {
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;
  padding: 0 5px 0 5px;
}

.jumbotron-buttons {
  
  width: 250px;
  height: 150px;
}

.default-button.round-button {
  border-radius: 50%;
  padding: 5px 3px 5px 3px;
}

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.default-button:hover {
  background-color: #333;
}

.default-button:focus {
  outline: 0;
}

.play-button {
  opacity: 1;
  background-color: #ff0000;
  border: none;
  color: #fff;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 50px 50px;
  cursor: pointer;
}

.play-button:focus {
  outline: 0;
}

.carousel-container {
  margin: 0 5px 10px 0;
}

.carousel-title {
  padding-left: 25px;
  font-size: 150%;
  font-weight: bold;
  margin: 0;
}

/*.carousel-content div {
  overflow: hidden;
}*/

.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  /* overflow: hidden; */
  /* position: relative;
  padding-top: 56.25% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 35.25%
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* background: #57545725; */
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.click{
  width :500px;
  height:500px;
    margin : auto;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
